In [8]:
import pandas as pd
#通过series来创建
s1 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s2 = pd.Series([6,7,8,9,10],index = ['a','b','c','d','e'])
df = pd.DataFrame([s1,s2])
#通过字典来创建
df = pd.DataFrame(
    {
        
        "name":['tom','jack','alice','bob','allen'],
        "age":[16,17,18,17,16],
        "score":[60.5,84,63,92,82.5]
    },index = [1,2,3,4,5],columns = ["name","age","score"]
)
df

    name  age  score
1    tom   16   60.5
2   jack   17   84.0
3  alice   18   63.0
4    bob   17   92.0
5  allen   16   82.5

In [10]:
print('行索引:')
print(df.index)
print('列标签:')
print(df.columns)
print('值')
print(df.values)

行索引:
Index([1, 2, 3, 4, 5], dtype='int64')
列标签:
Index(['name', 'age', 'score'], dtype='object')
值
[['tom' 16 60.5]
 ['jack' 17 84.0]
 ['alice' 18 63.0]
 ['bob' 17 92.0]
 ['allen' 16 82.5]]

## 学生成绩分析

In [27]:
data = {
    "name":['joe','tom','jack','alice','dylan'],
    "math":[85,92,78,88,95],
    "en":[90,88,85,92,80],
    "zn":[75,80,88,85,90]
}
df = pd.DataFrame(
    data,index = [1,2,3,4,5]
)
#1.计算每位学生总分和平均分
df['sum']=df[['math','en','zn']].sum(axis=1)
df['mean']=df['sum']/3
#找出数学成绩高于90分或者英语成绩高于85分的学生
df[(df['math']>90)|(df['en']>85)]
r1=df.sort_values('sum',ascending=False).head(3)
r2=df.nlargest(3,columns=['sum'])
print(r1)
print(r2)

    name  math  en  zn  sum       mean
4  alice    88  92  85  265  88.333333
5  dylan    95  80  90  265  88.333333
2    tom    92  88  80  260  86.666667
    name  math  en  zn  sum       mean
4  alice    88  92  85  265  88.333333
5  dylan    95  80  90  265  88.333333
2    tom    92  88  80  260  86.666667